@using Microsoft.AspNetCore.Identity;
@using Shared.Models.Identity
@inject SignInManager<Users> signInManager;

<ul class="navbar-nav ms-auto">
	@if (signInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="LogOut">Log Out</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="LogIn">Log In</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="SignUp">Sign Up</a>
		</li>
	}
</ul>